package templates

templ Home(name string) {
	<div id="home" class="text-gray-300">
		<h1 id="header" class="p-4 text-4xl font-medium">
			Welcome to my website!
		</h1>
		<div id="modal-container"></div>
	</div>
}
